root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = tab
indent_size = 4

[src/**/*.{ts,html,scss}]
charset = utf-8
trim_trailing_whitespace = true

[*.md]
indent_style = space

[{package.json}]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2
