{
    "reporter": [
        "lcov",
        "text"
    ],
    "require": [
        "ts-node/register",
        "reflect-metadata"
    ],
    "extension": [
        ".ts"
    ],
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "spec/**/*.ts",
        "src/server/config",
        "src/server/*.ts",
		"src/client",
		"src/server/types"
    ]
}
