body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    $headerHeight: 60px;

    width: 100%;
    height: $headerHeight;
    display: block;
    background: rgb(50, 50, 50);

    .title {
        color: white;
        font-weight: 100;
        font-size: 30px;
        line-height: $headerHeight;
        padding-left: 40px;
    }
}

.content {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;

    a.item {
        text-decoration: none;
        color: black;
        display: block;
        background: rgb(200, 200, 200);
        padding: 10px;

        &:hover {
            background: rgb(230, 230, 230);
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img.icon {
            $iconSize: 64px;

            width: $iconSize;
            height: $iconSize;
            display: inline-block;
        }

        .info {
            $currencyIconSize: 14px;

            display: inline-block;
            margin-left: 10px;

            img.ducat {
                height: $currencyIconSize;
            }

            img.plat {
                height: $currencyIconSize;
            }
        }
    }
}