body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    $headerHeight: 60px;

    width: 100%;
    height: $headerHeight;
    display: block;
    background: rgb(50, 50, 50);

    .title {
        color: white;
        font-weight: 100;
        font-size: 30px;
        line-height: $headerHeight;
        padding-left: 40px;
    }
}

.content {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;

    a.item {
        text-decoration: none;
        color: black;
        display: block;
        background: rgb(200, 200, 200);
        padding: 20px;
        border-radius: 2px;
        border: 1px solid rgb(150, 150, 150);

        &:hover {
            background: rgb(230, 230, 230);
            border-color: rgb(175, 175, 175);

            .info {
                .value-row {
                    .value-box {
                        $hoverValueBoxColor: rgb(200, 200, 200);

                        .value-icon {
                            background: $hoverValueBoxColor;
                        }

                        border-color: $hoverValueBoxColor;
                        box-shadow: #555;
                    }
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img.icon {
            $iconSize: 64px;

            width: $iconSize;
            height: $iconSize;
            display: inline-block;
            position: relative;
            top: -10px;
        }

        .info {
            $currencyIconSize: 14px;

            display: inline-block;
            margin-left: 20px;

            .name {
                font-variant-caps: small-caps;
                margin-bottom: 5px;
            }

            .value-row {
                margin: 5px 0;

                .value-box {
                    $backgroundColor: rgb(175, 175, 175);
                    $valueIconSize: 18px;

                    display: inline-block;
                    border-radius: 2px;
                    border: 2px solid $backgroundColor;
                    box-shadow: 0px 1px 2px 0 #333;

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    .value-icon {
                        background: $backgroundColor;
                        display: inline-block;
                        padding: 5px 10px;
                    }

                    .value-text {
                        display: inline-block;
                        padding: 5px 10px;
                    }

                    img.ducat {
                        height: $valueIconSize;
                        position: relative;
                        top: 2px;
                    }

                    img.plat {
                        height: $valueIconSize;
                        position: relative;
                        top: 2px;
                    }
                }
            }


            img.ducat {
                height: $currencyIconSize;
            }

            img.plat {
                height: $currencyIconSize;
            }
        }
    }
}